/* Base styles */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #090909;
}

input {
    width: 100%;
}

button,
input,
textarea,
select,
option {
    outline: none;
    border: none;
    cursor: pointer;
    background: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-flex;
}

a img {
    max-width: 100%;
}

li {
    display: inline-flex;
    list-style: none;
}

span {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.container {
    max-width: 1760px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Common */

.title {
    color: #FFF;
    font-size: 64px;
    font-weight: 500;
    line-height: 156%;
    text-transform: uppercase;
}

.title span {
    color: #E44D0C;
}

.title__block {
    display: flex;
    align-items: center;
    gap: 70px;
}

.title-point {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
}

.title-border {
    border-bottom: 1px solid rgb(36, 36, 36);
}

.banner {
    max-width: 1428px;
    margin: 44px auto 0 auto;
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
}

.banner span {
    color: #E44D0C;
}

.page-btn {
    padding: 15px 40px;
    border-radius: 7px;
    border: 2px solid #FFF;
    color: #F3F3F3;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    max-width: fit-content;
}

.transition-line {
    display: block;
    margin: 0 auto;
}

.transition-block {
    max-width: 55%;
}

.transition-vertical {
    width: 4px;
    height: 390px;
    background-color: #fff;
}

.transition-circle {
    margin-top: 180px;
    margin-left: 4%;
    max-width: 50%;
}

.transition-block,
.transition-vertical {
    margin-left: 20px;
}

.transition-circle-mobile,
.transition-block-mobile {
    display: none;
}

@media (max-width: 1200px) {
    .title {
        font-size: 42px;
    }
    .title-point {
        width: 35px;
        height: 35px;
    }
    .title__block {
        gap: 50px;
    }
    .banner {
        font-size: 32px;
    }
    .transition-circle {
        margin-top: 100px;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 24px;
    }
    .title-point {
        width: 15px;
        height: 15px;
    }
    .title__block {
        gap: 20px;
    }
    .title__block .title {
        max-width: 80%;
    }
    .page-btn {
        font-size: 13px;
        padding: 10px 20px;
    }
    .banner {
        font-size: 24px;
        margin: 32px auto 0 auto;
    }
    .transition-vertical {
        margin-left: 5px !important;
        width: 1px;
        height: 180px;
        background-color: #fff;
    }
    .transition-circle {
        display: none;
    }
    .transition-circle-mobile {
        display: block;
        margin-top: 21px;
        margin-left: 6.5%;
        width: 50%;
    }
    .transition-block {
        display: none;
    }
    .transition-block-mobile {
        margin-top: 20px;
        display: block;
        margin-left: 5px;
        width: 55%;
    }
    .transition-line {
        height: 224px;
        margin-top: 55px;
    }
}

/* HEADER */

.header {
    width: 100%;
    padding-top: 78px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
}

.nav__list {
    display: flex;
    gap: 60px;
}

.nav__list-item {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    transition: .3s linear;
}

.nav__list-item:hover,
.nav__list-item.active {
    color: #E44D0C;
}

.header__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 29px;
    margin-right: 4%;
}

.socials {
    display: flex;
    align-items: center;
    gap: 25px;
}

.burger-menu,
.burger {
    display: none;
}

@media (max-width: 1200px) {
    .socials {
        gap: 15px;
    }
}

@media (max-width: 1200px) {
    .header {
        padding-top: 40px;
        padding: 22px 0 30px;
    }
    .header__block {
        gap: 15px;
    }
    .nav__list-item {
        font-size: 12px;
    }
    .nav__list {
        gap: 35px;
    }
    .logo {
        max-width: 70%;
    }
}

@media (max-width: 768px) {
    .header__block {
        margin-right: 0;
    }
    .header__wrapper {
        justify-content: center;
        position: relative;
    }
    .nav {
        display: none;
    }
    .logo {
        max-width: 60%;
    }
    .burger {
        position: absolute;

    }
    .socials-item {
        width: 20px;
        height: 20px;
    }
    .burger {
        display: block;
        top: 0;
        right: 20px;
        cursor: pointer;
    }
    .burger-menu {
        display: block;
        padding: 100px 15px;
        position: fixed;
        z-index: 40;
        right: -100%;
        top: 0;
        width: 50%;
        height: 100%;
        background-color: #090909;
        transition: .5s all;
    }
    .burger-menu.active {
        right: 0;
    }
    .burger-close {
        position: absolute;
        top: 30px;
        right: 30px;
    }
    .nav__list {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 450px) {
    .socials-item {
        width: 13px;
        height: 13px;
    }
    .burger-menu {
        width: 60%;
    }
}

/* FOOTER */

.footer__wrapper {
    padding: 140px 20px 100px 20px;
    max-width: 1819px;
    margin: 0 auto;
}

.footer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo__block {
    display: flex;
    gap: 74px;
    align-items: center;
}

.footer-brand {
    color: #FFF;
    font-size: 20px;
    font-weight: 300;
}

.footer__contacts {
    margin-right: 17%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.footer-phone {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
}

.footer-address {
    color: #FFF;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.footer-info {
    padding-top: 50px;
    margin-top: 44px;
    border-top: 1px solid rgba(255, 255, 255, 0.46);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-info-item {
    color: rgba(255, 255, 255, 0.32);
    font-size: 20px;
    font-weight: 300;
}

@media (max-width: 1200px) {
    .footer-header {
        gap: 10px;
    }
    .footer__wrapper {
        padding: 100px 20px 80px 20px;
    }
    .footer-logo__block {
        gap: 15px;
    }
    .footer-brand {
        font-size: 14px;
    }
    .footer__contacts {
        margin-right: 0;
        gap: 20px;
    }
    .footer-phone {
        font-size: 24px;
    }
    .footer-address {
        font-size: 14px;
    }
    .footer-info {
        padding-top: 30px;
        gap: 10px;
        row-gap: 20px;
        flex-wrap: wrap;
    }
    .footer-info-item {
        font-size: 16px;
    }
}

@media(max-width: 768px) {
    .footer__wrapper {
        padding: 60px 20px;
    }
    .footer-header {
        flex-direction: column;
        gap: 0;
        align-items: flex-start;
    }
    .footer__contacts {
        align-items: flex-start;
    }
    .footer-logo__block {
        gap: 38px;
        margin-left: 5.5%;
    }
    .footer-logo {
        width: 58px;
        height: 58px;
    }
    .footer-brand {
        font-size: 12px;
    }
    .footer-phone,
    .footer-address {
        font-size: 12px;
    }
    .footer__contacts {
        gap: 15px;
        margin-top: 35px;
    }
    .footer .socials {
        margin-top: 13px;
    }
    .footer-info {
        border: none;
        padding: 0;
        margin-top: 80px;
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
    }
}

/* STAGES LIST */

.stages__list {
    display: flex;
    gap: 50px;
}

.stages__list-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 25%;
}

.stages__list-item-number {
    color: #E44D0C;
    font-size: 64px;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
}

.stages__list-item-text {
    color: #D0D0D0;
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
}

@media (max-width: 1200px) {
    .stages__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .stages__list-item {
        width: auto;
    }
    
}

@media (max-width: 768px) {
    .stages__list {
        margin-top: 76px;
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .stages__list-item {
        flex-direction: row;
        gap: 74px;
        align-items: center;
    }
    .stages__list-item-text {
        font-size: 13px;
    }
}

/* WHY LIST */


.why__list-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    padding-left: 250px;
    max-width: 880px;
}

.why__list-item::before {
    content: "";
    position: absolute;
    left: 0;
    width: 105px;
    height: 100px;
    background-position: left top;
    background-size: contain;
    background-repeat: no-repeat;
}

.why__list-item:nth-child(1)::before {
    background-image: url(../img/index/advantages/money.svg);
}

.why__list-item:nth-child(2)::before {
    background-image: url(../img/index/advantages/delivery.svg);
}

.why__list-item:nth-child(3)::before {
    background-image: url(../img/index/advantages/check.svg);
}

.why__list-item:nth-child(4)::before {
    background-image: url(../img/index/advantages/person.svg);
}

.why__list-item-title {
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
    line-height: 150%;
}

.why__list-item-descr {
    color: #D0D0D0;
    font-size: 32px;
    font-weight: 300;
    line-height: 150%;
}

@media (max-width: 1200px) {
    .why__list-item {
        max-width: 100%;
        padding-left: 120px;
    }
    .why__list-item::before {
        width: 60px;
        height: 60px;
    }
    .why__list-item-title {
        font-size: 32px;
        line-height: 100%;
    }
    .why__list-item-descr {
        font-size: 28px;
    }
}

@media (max-width: 768px) {
    .why__list {
        display: flex;
        flex-direction: column;
        margin-top: 70px;
        gap: 40px;
    }
    .why__list-item {
        padding-left: 85px;
        gap: 10px;
    }
    .why__list-item::before {
        width: 35px;
        height: 50px;
    }
    .why__list-item-title {
        font-size: 13px;
    }
    .why__list-item-descr {
        font-size: 12px;
    }
}

/* ADVANTAGES LIST */

.advantages__list {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    row-gap: 80px;
}

.advantages__list-item {
    color: #FFF;
    font-size: 32px;
    font-weight: 700;
    position: relative;
    padding-left: 140px;
}

.advantages__list-item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
}

.advantages__list-item:nth-child(1)::before {
    background-image: url(../img/advantages-list/item-1.svg);
}

.advantages__list-item:nth-child(2)::before {
    background-image: url(../img/advantages-list/item-2.svg);
}
.advantages__list-item:nth-child(3)::before {
    background-image: url(../img/advantages-list/item-3.svg);
}
.advantages__list-item:nth-child(4)::before {
    background-image: url(../img/advantages-list/item-4.svg);
}

@media (max-width: 1200px) {
    .advantages__list {
        gap: 20px;
        row-gap: 40px;
    }
    .advantages__list-item {
        font-size: 24px;
        padding-left: 80px;
    }
    .advantages__list-item::before {
        width: 50px;
        height: 50px;
        background-size: contain;
    }
}

@media (max-width: 768px) {
    .advantages__list {
        display: flex;
        flex-direction: column;
        margin-top: 90px;
    }
    .advantages__list-item {
        font-size: 13px;
        color: hsla(0, 0%, 100%, .7);
        min-height: 44px;
        display: flex;
        align-items: center;
        padding-left: 100px;
    }
    .advantages__list-item::before {
        width: 44px;
        height: 44px;
    }
    .advantages__list-item:nth-child(1)::before {
        background-image: url(../img/advantages-list/item-1-mobile.svg);
    }
    .advantages__list-item:nth-child(2)::before {
        background-image: url(../img/advantages-list/item-2-mobile.svg);
    }
    .advantages__list-item:nth-child(3)::before {
        background-image: url(../img/advantages-list/item-3-mobile.svg);
    }
    .advantages__list-item:nth-child(4)::before {
        background-image: url(../img/advantages-list/item-4-mobile.svg);
    }
}

/* REVIEWS */

.reviews {
    margin-top: 100px;
}

.reviews-title {
    display: flex;
    align-items: center;
    gap: 58px;
}

.reviews-title::after {
    content: "";
    width: 100px;
    height: 100px;
    background: url(../img/reviews/quotes.svg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.reviews-swiper {
    margin-top: 34px;
}

.review__block {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 30px;
}

.review__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 66%;
}

.review-text {
    color: #D0D0D0;
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
}

.review-name {
    color: #FFF;
    font-family: 'Roboto';
    font-size: 32px;
    font-weight: 700;
    line-height: 150%;
    margin-left: 1%;
}

.review-image {
    width: 23%;
    max-height: 380px;
    border-radius: 12px;
    object-fit: cover;
    opacity: .8;
}

.reviews__navigation {
    padding-right: 6%;
    margin-top: 42px;
    gap: 32px;
    display: flex;
    justify-content: flex-end;
}

.reviews .transition-vertical {
    margin-top: 37px;
}

.review-name.mobile {
    display: none;
}

@media (max-width: 1200px) {
    .review-text {
        font-size: 18px;
    }
    .review-name {
        font-size: 22px;
    }
    .reviews__navigation {
        padding-right: 0;
    }
}

@media (max-width: 768px) {
    .reviews {
        margin-top: 20px;
    }
    .reviews-title {
        gap: 16px;
    }
    .reviews-title::after {
        width: 59px;
        height: 59px;
    }
    .review__block {
        flex-direction: column;
        align-items: center;
    }
    .review__content {
        max-width: 100%;
    }
    .review-text {
        text-align: center;
        font-size: 13px;
    }
    .review-name {
        margin: 0;
        text-align: center;
        font-size: 14px;
        display: none;
    }
    .review-name.mobile {
        display: block !important;
    }
    .review-image {
        width: 55%;
        max-height: 30vh;
    }
    .reviews__navigation {
        justify-content: center;
    }
    .reviews-left,
    .reviews-right {
        width: 46px;
        height: 46px;
    }
    .reviews-left img,
    .reviews-right img {
        max-width: 100%;
    }
    .reviews__navigation {
        margin-top: 29px;
    }
    .reviews .title__block {
        align-items: flex-start;
    }
    .reviews .title-point {
        margin-top: 3%;
    }
}

/* CONTACTS */

.contacts {
    margin-top: 58px;
    margin-bottom: 242px;
}

.contacts__list {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contacts__list li {
    color: #FFF;
    font-size: 32px;
    font-weight: 700;
    line-height: 150%;
}

.contacts-phone {
    font-size: 36px !important;
}

@media(max-width: 768px) {
    .contacts {
        margin-top: 20px;
    }
    .contacts {
        margin-bottom: 82px;
    }
    .contacts__list {
        margin-top: 52px;
        gap: 6px;
    }
    .contacts-phone {
        font-size: 16px !important;
    }
    .contacts-address {
        font-size: 10px !important;
        color: hsla(0, 0%, 100%, .7) !important;
        font-weight: 300 !important;
    }
    .contacts__list .socials {
        margin-top: 32px;
    }
}