/* Base styles */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #090909;
}

input {
    width: 100%;
}

button,
input,
textarea,
select,
option {
    outline: none;
    border: none;
    cursor: pointer;
    background: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-flex;
}

a img {
    max-width: 100%;
}

li {
    display: inline-flex;
    list-style: none;
}

span {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.container {
    max-width: 1760px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Common */

.title {
    color: #FFF;
    font-size: 64px;
    font-weight: 500;
    line-height: 156%;
    text-transform: uppercase;
}

.title span {
    color: #E44D0C;
}

.title-point {
    display: flex;
    align-items: center;
    gap: 130px;
}

.title-point::before {
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
}

.title-border {
    width: fit-content;
    border-bottom: 1px solid rgb(36, 36, 36);
    margin-bottom: 100px;
}

@media (max-width: 1200px) {
    .title {
        font-size: 42px;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 24px;
    }
}


.page-btn {
    padding: 15px 40px;
    border-radius: 7px;
    border: 2px solid #FFF;
    color: #F3F3F3;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    max-width: fit-content;
}

/* HEADER */

.header {
    width: 100%;
    padding-top: 78px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
}

.nav__list {
    display: flex;
    gap: 60px;
}

.nav__list-item {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    transition: .3s linear;
}

.nav__list-item:hover,
.nav__list-item.active {
    color: #E44D0C;
}

.header__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 29px;
}

.socials {
    display: flex;
    align-items: center;
    gap: 25px;
}

.burger-menu,
.burger {
    display: none;
}

@media (max-width: 1200px) {
    .socials {
        gap: 15px;
    }
}

@media (max-width: 1200px) {
    .header {
        padding-top: 40px;
        padding: 22px 0 30px;
    }
    .header__block {
        gap: 15px;
    }
    .nav__list-item {
        font-size: 12px;
    }
    .nav__list {
        gap: 35px;
    }
    .logo {
        max-width: 70%;
    }
}

@media (max-width: 768px) {
    .header__wrapper {
        justify-content: center;
        position: relative;
    }
    .nav {
        display: none;
    }
    .logo {
        max-width: 60%;
    }
    .burger {
        position: absolute;

    }
    .socials-item {
        width: 20px;
        height: 20px;
    }
    .burger {
        display: block;
        top: 0;
        right: 20px;
        cursor: pointer;
    }
    .burger-menu {
        display: block;
        padding: 100px 15px;
        position: fixed;
        z-index: 40;
        right: -100%;
        top: 0;
        width: 50%;
        height: 100%;
        background-color: #090909;
        transition: .5s all;
    }
    .burger-menu.active {
        right: 0;
    }
    .burger-close {
        position: absolute;
        top: 30px;
        right: 30px;
    }
    .nav__list {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 450px) {
    .socials-item {
        width: 13px;
        height: 13px;
    }
    .burger-menu {
        width: 60%;
    }
}

/* FOOTER */

.footer__wrapper {
    padding: 140px 20px 100px 20px;
    max-width: 1819px;
    margin: 0 auto;
}

.footer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo__block {
    display: flex;
    gap: 74px;
    align-items: center;
}

.footer-brand {
    color: #FFF;
    font-size: 20px;
    font-weight: 300;
}

.footer__contacts {
    margin-right: 17%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.footer-phone {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
}

.footer-address {
    color: #FFF;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.footer-info {
    padding-top: 50px;
    margin-top: 44px;
    border-top: 1px solid rgba(255, 255, 255, 0.46);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-info-item {
    color: rgba(255, 255, 255, 0.32);
    font-size: 20px;
    font-weight: 300;
}

@media (max-width: 1200px) {
    .footer-header {
        gap: 10px;
    }
    .footer__wrapper {
        padding: 100px 20px 80px 20px;
    }
    .footer-logo__block {
        gap: 15px;
    }
    .footer-brand {
        font-size: 14px;
    }
    .footer__contacts {
        margin-right: 0;
        gap: 20px;
    }
    .footer-phone {
        font-size: 24px;
    }
    .footer-address {
        font-size: 14px;
    }
    .footer-info {
        padding-top: 30px;
        gap: 10px;
        row-gap: 20px;
        flex-wrap: wrap;
    }
    .footer-info-item {
        font-size: 16px;
    }
}

@media(max-width: 768px) {
    .footer__wrapper {
        padding: 60px 20px;
    }
    .footer-header {
        flex-direction: column;
        gap: 0;
        align-items: flex-start;
    }
    .footer__contacts {
        align-items: flex-start;
    }
    .footer-logo__block {
        gap: 38px;
        margin-left: 5.5%;
    }
    .footer-logo {
        width: 58px;
        height: 58px;
    }
    .footer-brand {
        font-size: 12px;
    }
    .footer-phone,
    .footer-address {
        font-size: 12px;
    }
    .footer__contacts {
        gap: 15px;
        margin-top: 35px;
    }
    .footer .socials {
        margin-top: 13px;
    }
    .footer-info {
        border: none;
        padding: 0;
        margin-top: 80px;
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
    }
}

/* STAGES LIST */

.stages__list {
    display: flex;
    gap: 50px;
}

.stages__list-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.stages__list-item-number {
    color: #E44D0C;
    font-size: 64px;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
}

.stages__list-item-text {
    color: #D0D0D0;
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
}

.transition-line {
    display: block;
    margin: 0 auto;
}

.transition-block {
    max-width: 55%;
}