/* PROMO SECTION */

.promo {
    padding-top: 272px;
    height: 1080px;
    background: url(../img/index/promo/bg.png) center center / cover no-repeat;
}

.promo-title {
    font-weight: 400;
    text-align: center;
}

/* MARQUEE-CONTACTS */

.marquee-contacts {
    margin-top: 7px;
    padding: 40px 0;
    border: 1px solid #FFF;
    border-width: 1px 0 1px 0;
}

.marquee__wrapper {
    display: flex;
    gap: 120px;
}

.marquee-item {
    color: #FFF;
    font-size: 36px;
    font-weight: 400;
}

/* MODELS */

.models {
    margin-top: 271px;
}

.models__wrapper {
    margin-top: 121px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.model__item {
    border-radius: 10px;
    height: 215px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.model__item img {
    object-fit: contain;
    max-width: 65%;
}

.model-gray {
    background-color: hsla(0, 0%, 5%, 1);
}

/* HELP */

.help {
    margin-top: 465px;
    position: relative;
}

.help__wrapper {
    margin: 0 auto;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    gap: 135px;
}

.help__block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.help__block:first-child {
    justify-content: flex-end;
}

.help-title {
    color: #FFF;
    font-size: 200px;
    font-weight: 400;
}

.help-title span {
    color: #E44D0C;
}

.help-bg {
    position: absolute;
    max-width: 30%;
    max-height: 50%;
    object-fit: contain;
    z-index: -1;
    filter: grayscale(1);
}

.help-bg.bg-1 {
    right: 238px;
    top: 200px;
}

.help-bg.bg-2 {
    left: 235px;
    top: 400px;
}

.help__block.call {
    margin-top: 240px;
    justify-content: flex-end;
}

.call-link {
    margin-right: 294px;
}