/* PROMO SECTION */

.promo {
    padding-top: 272px;
    height: 1080px;
    background: url(../img/index/promo/bg.png) center center / cover no-repeat;
}

.promo-title {
    font-weight: 400;
    text-align: center;
}

/* MARQUEE-CONTACTS */

.marquee-contacts {
    margin-top: 7px;
    padding: 40px 0;
    border: 1px solid #FFF;
    border-width: 1px 0 1px 0;
}

.marquee__wrapper {
    display: flex;
    gap: 120px;
}

.marquee-item {
    color: #FFF;
    font-size: 36px;
    font-weight: 400;
}

/* MODELS */

.models {
    margin-top: 271px;
}

.models__wrapper {
    margin-top: 121px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.model__item {
    border-radius: 10px;
    height: 215px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.model-gray {
    background-color: hsla(0, 0%, 5%, 1);
}