/* PROMO */

.promo {
    padding-top: 69px;
}

.promo-title {
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
}

.promo .page-btn {
    display: block;
    margin: 64px auto 0 auto;
}

.transition-comission {
    margin-top: 61px;
    max-width: 98%;
    margin-left: 2%;
}

@media (max-width: 768px) {
    .promo .page-btn {
        margin-top: 43px;
    }
    .transition-comission {
        display: none;
    }
}

/* SATGES */

.stages-title {
    margin-top: -80px;
    text-align: center;
    width: fit-content;
}

.stages__list {
    margin-top: 66px;
}

.order .stages .transition-line,
.order .stages .transition-block {
    margin-top: 69px;
}

.comission .stages .transition-block {
    margin-top: 90px;
}

.comission .stages .stages-title {
    max-width: 85%;
    padding: 0;
    margin: -80px 2% 0 auto;
    text-align: left;
}

@media (max-width: 1560px) {
    .stages-title {
        margin: -70px 30px 0 auto;
        max-width: 80%;
        text-align: left;
    }
}

@media (max-width: 1200px) {
    .stages-title {
        margin: -40px 30px 0 auto;
    }
    .stages .transition-line {
        height: 300px;
    }
    .comission .stages .stages-title {
        max-width: 80%;
        margin: -50px 2% 0 auto;
    }
}

@media (max-width: 768px) {
    .stages-title {
        max-width: 70%;
        text-align: left;
        padding: 0;
        margin-top: -25px;
        margin-right: 20px;
    }
    .stages__list {
        margin-top: 42px;
    }
    .stages .transition-block-mobile {
        margin-top: 20px;
    }
    .comission .stages .stages-title {
        max-width: 70%;
        margin: -20px 20px 0 auto;
    }
}

/* ADVANTAGES */

.advantages {
    margin-top: 65px;
}

.advantages .title {
    max-width: 85%;
}

.advantages .transition-vertical {
    margin-top: 150px;
}

.comission .advantages .transition-line {
    margin-top: 110px;
}
.comission .advantages .transition-block {
    margin-top: 77px;
}

.advantages .transition-vertical {
    display: none;
}

@media (max-width: 768px) {
    .advantages {
        margin-top: 16px;
    }
    .advantages .title__block {
        align-items: flex-start;
    }
    .advantages .title-point {
        margin-top: 4%;
    }
    .comission .advantages .title-point {
        margin-top: 2.5%;
    }
    .advantages .transition-vertical {
        margin-top: 51px;
    }
    .comission .advantages .transition-line {
        margin-top: 44px;
    }
    .advantages .transition-vertical {
        display: block;
    }
}