/* PROMO */

.promo {
    padding-top: 77px;
}

.promo-title {
    text-align: center;
}

.promo__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.promo-bg {
    max-width: 100%;
    object-fit: cover;
}

/* GRADE */

.grade {
    margin-top: 120px;
}

.grade-title {
    display: block;
    text-align: center;
    max-width: 1460px;
    margin: 0 auto;
}

.grade-car {
    display: block;
    max-width: 100%;
    margin: 80px 0 0 auto;
}

/* STAGES */

.stages {
    margin-top: 60px;
}

.stages .page-btn {
    margin: 54px auto 0 auto;
    display: block;
}

.reverse {
    display: block;
    margin: 66px auto 0 auto;
}

.tradein-banner {
    max-width: 1428px;
    margin: 44px auto 0 auto;
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
}

.stages .transition-block {
    margin-top: 37px;
}